/* ------------------ */
/* MAIN PAGE ELEMENTS */
/* ------------------ */

html {
    height: 100%;
}

body {
    height: 100%;
    padding-top: 55px;
    background-color: #A9A9A9; /* darkgray */
}

/* unvisited link */
a:link {
    color: #7C1609;
}

/* visited link */
a:visited {
    color: #7C1609;
}

/* mouse over link */
a:hover {
    color: #7C1609;
    opacity: .6;
}

/* permanent white link */
a.wlink:link, a.wlink:hover, a.wlink:visited {
    color: #F5F5F5;
}

/* --------------------- */
/* GENERAL COLOR CLASSES */
/* --------------------- */

.dark-gray {
    background-color: #444;
}

.dark-gray a {
    color: #F5F5F5 !important;
}

.light-gray {
    background-color: #999999;
}

.dark-red {
    background-color: #7C1609;
}

.white {
    background-color: #FFFFFF;
}

.whitesmoke {
    background-color: #F5F5F5;
}

.black-fore {
    color: #000000;
}

.light-gray-fore {
    color: #999999;
}

.gray-fore {
    color: #444;
}

.white-fore {
    color: #fff;
}

.whitesmoke-fore {
    color: #F5F5F5;
}

.dark-red-fore {
    color: #7C1609;
}


/* -------------------- */
/* GENERAL TEXT CLASSES */
/* -------------------- */

h1 {    
    font-size: 2rem;
    line-height: 1.2;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
}

h2 {
    font-size: 1.7rem;
    line-height: 1.2;
    padding-top: .8rem;
    padding-bottom: .8rem;
    margin: 0;

}

h3 {    
    font-size: 1.5rem;
    line-height: 1.2;
    padding-top: .8rem;
    padding-bottom: .8rem;
    margin: 0;

}

li {
    padding-bottom: 1rem;
}

hr {
    border-top-width: 5px;
    border-top-color: #A9A9A9;
    border-top-style: solid;
}

.text-small {
	font-family: 'Martel', sans-serif;
    font-size: .9rem;
    display: block;
    line-height: 1.2;
}

.text-large {
	font-family: 'Martel', sans-serif;
    font-size: 1.3rem;
    line-height: 1.2;
}

.text-content {
	font-family: 'Martel', sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    padding: 20px !important;
    text-align: left;
}

.small-bold {
    /*font-family: 'Roboto', sans-serif;*/
	font-family: 'Martel', sans-serif;
    font-size: 1rem;
    font-weight: 900;
}


/* ------------------ */
/*    HEADINGS        */
/* ------------------ */

main {
    margin-top: 0px !important;
}

#header {
    background-size: 700px;
    background-image: url("/static/missiology/img/missiology.jpg");
    background-repeat: no-repeat;
    background-position: 50% 73px;
    background-attachment: fixed;
    background-color: #F5F5F5;
    height: 160px;
}

.header-img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.heading {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 32px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
}

.heading-img {
    margin-left: 8px;
}

.subheading {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 22px;
}


/* ------------------ */
/*    NAVBAR STUFF    */
/* ------------------ */

.navbar {
    padding: 0px;
    margin-bottom: 0px !important;
}

.navbar-brand {
    padding: 0px;
}

.nav-item {
    padding-bottom: 0;
}

a.nav-link {
    font-family: 'Merriweather Sans', sans-serif;
    color: #F5F5F5;
}

.navbar-dark .navbar-nav .nav-link {
    color: #F5F5F5;
}

.navbar-dark .btn-outline-success {
    color: #7C1609;
    border-color: #7C1609;
}

.navbar-dark .btn-outline-success:hover {
    color: #F5F5F5;
    background-color: #7C1609;
    border-color: #7C1609;
}

#navbarCollapse.show {
    padding: 15px;
}

.searchbar {
    width: 270px;
    border: none;
}

.searchbar input {
    width: 250px !important;
}


/* ------------------ */
/*    POSTCARDS       */
/* ------------------ */

.postcard {
    padding-left: 15px !important;
    padding-right: 7.5px !important;
}

.postcard-solo {
    padding-right: 15px !important;
}

.postcard-row {
    margin-bottom: 15px !important;
}

.postcard-right {
    padding-left: 7.5px !important;
    padding-right: 15px !important;
}

.post-title {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #FFFFFF;
    padding-left: 10px !important;
    padding-right: 8px !important;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1.9rem;
    line-height: 1.2;
    min-height: 60px;
    color: #7C1609;
}

.post-title a:hover {
    color: #7C1609;
    text-decoration: none;
    opacity: unset;
}

.post-title .oi {
    font-size: 20px;
}

.post-type {
    background-color: #999999;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 60px;
    min-height: 60px;
}

.post-type-blog {
    background-image: url("/static/missiology/img/blog-md-header.png");
}

.post-type-resource {
    background-image: url("/static/missiology/img/resource-md-header.png");
}

.post-type-podcast {
    background-image: url("/static/missiology/img/podcast-md-header.png");
}

.post-type-bibliography {
    background-image: url("/static/missiology/img/bibliography-md-header.png");
}

.post-type-page {
    background-image: url("/static/missiology/img/page-md-header.png");
}

.img-selector {
    margin: 10px;
    height: 15px;
    width: 30px;
}

.admin-link {
    font-weight: 900;
    font-size: 20px;
}

.by-link {
    color: #7C1609 !important;
    font-size: 1.1rem;
    font-weight: 600;
}

.by-link-small {
    color: #7C1609 !important;
    font-size: 1rem;
}

.byline-author {
	font-family: 'Merriweather Sans', sans-serif;
    padding: 10px !important;
    padding-bottom: 0px !important;
    background-color: #F5F5F5;
    font-size: 17px;
    line-height: 1.4;
}

.byline-tags {
	font-family: 'Merriweather Sans', sans-serif;
    padding: 10px !important;
    font-size: 17px;
    line-height: 1.4;
}

.tag-link {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #F5F5F5;
    padding: 8px;
    margin-right: 8px;
    line-height: 3;
}

.bib-header {
    background-color: #F5F5F5;
    color: #444444;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
}

.bib-info {
    font-size: 14px;
    padding-top: 8px;
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.subheading-img {
    margin-right: 10px;
}

.content-block {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 200px;
}

.content-block a {
    color: #7C1609;
}

.pages {
    font-weight: 900;
}

.submenu {
    
}

.submenu-item {
    padding: 0px 0px 0px 10px !important;
    line-height: 3;
}

.comment {
    padding: 20px;
    padding-top: 0px;
    border-bottom: solid 1px #444;
}

.comment-area {
    padding: 20px;
}

.comment-form {
    margin-top: 15px;
}

.sidebar-row {
    margin-left: 15px;
}

.sidebar-col {
    padding: 10px !important;
}

.sidebar-header {
    min-height: 71px;
    max-height: 71px;
    padding-left: 15px !important;
}

.sidebar-item {
    padding-left: 10px !important;
}

.mt-15 {
    margin-top: 15px;
}

.ml-15 {
    margin-left: 15px;
}

.bl-15 {
    border-left-width: 15px;
    border-left-color: #A9A9A9;
    border-left-style: solid;
}

.sec-layout-col {
    border: dashed 1px #444444;
}

.footer {
    min-height: 55px;
}

.footer a {
    color: #F5F5F5;
    font-family: "Merriweather Sans", sans-serif;
}

/* LARGE SIZE */
@media (max-width: 1199px) {

    .heading {
        font-size: 30px;
    }

    .subheading {
        font-size: 20px;
    }

    .text-small {
        font-size: 14px;
    }

    .post-type {
        background-size: 50px;
    }

    .post-title {
        font-size: 26px;
    }

    .text-content {
        font-size: 16px;
    }
}

/* MEDIUM SIZE */
@media (max-width: 991px) {
    #header {
        background-image: url("/static/missiology/img/missiology-sm.jpg");
        background-position: 50% 83px;
        background-size: 500px;
    }

    .subheading {
        font-size: 20px;
    }

    .text-small {
        font-size: 12px;
        line-height: 1.5;
    }

    .post-type {
        background-size: 60px;
    }

    .postcard {
        padding-left: 15px !important;
        padding-right: 15px !important;
        margin-bottom: 15px !important;
    }

    .postcard-right {
        padding-left: 15px !important;
        padding-right: 15px !important;
        margin-bottom: 15px !important;
    }

    .post-title {
        font-size: 24px;
    }

    .by-link {
        font-size: 18px;
    }

    .by-link-small {
        font-size: 16px;
    }
}

/* SMALL SIZE */
@media (max-width: 767px) {
    /* NAVBAR STUFF */
    .navbar-brand {
        margin-left: 0px;
    }

    #header {
        background-size: 400px !important;
        background-position: 50% 86px;
        height: 140px;
    }

    .subheading {
        font-size: 18px;
    }

    .text-small {
        font-size: 12px;
        line-height: 1.5;
    }

    .sidebar-row {
        margin-left: 0px;
    }

    .sidebar-col {
        padding: 10px !important;
        padding-left: 10px !important;
    }
}

/* XTRA SMALL SIZE */
@media (max-width: 575px) {
    #header {
        background-size: 300px !important;
        background-position: 50% 90px;
    }
}
