{% extends 'missiology/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'missiology/css/bibliography.css' %}"/>
{% endblock %}

{% block modals %}
    <div id="filter-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Filter</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="nav-item">
                            <a href="#people" class="nav-link active" aria-controls="people" role="tab" data-toggle="tab">People</a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a href="#roles" class="nav-link" aria-controls="roles" role="tab" data-toggle="tab">Roles</a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a href="#publishers" class="nav-link" aria-controls="publishers" role="tab" data-toggle="tab">Publishers</a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a href="#fields" class="nav-link" aria-controls="fields" role="tab" data-toggle="tab">Genres</a>
                        </li>
                    </ul>

                    <div class="tab-content bib-tab-pane">
                        <div role="tabpanel" class="tab-pane active" id="people">
                            <table id="people-table" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="roles">
                            <table id="role-table" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <td>Role</td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="publishers">
                            <table id="publisher-table" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Publisher</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="fields">
                            <table id="field-table" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <td>Genre</td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block main %}
    <div style="padding-left: 0; padding-right: 0;" class="container">
        <div class="row no-gutters">
            <div class="col-12 heading whitesmoke-fore dark-red">
                <img src="/static/missiology/img/doodad-light-gray.png" class="heading-img" style="max-height: 55px;" />
                Bibliography
                {% if is_admin or can_blog %}
                    <div class="float-right" style="margin-right: 10px;">
                        <a href="/admin/bibliography/source/" class="btn btn-light">Manage</a>
                    </div>
                {% endif %}
            </div>
        </div>

        {% for section in sections %}
            {{ section.html }}
        {% endfor %}

        <div class="row no-gutters mt-15">
            <div class="col-sm-12 dark-gray filter-panel">
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#filter-modal">
                    Filter
                </button> by person, role, publisher, or genre.
                <div id="filter-panel" class="d-none mt-15">
                    <h4 class="subheading whitesmoke-fore">Current Filters</h4>
                    <div id="current-filters" class="d-flex align-items-center">
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters mt-15">
            <div class="col-sm-12 col-md-10 bib-column-gray">
                <table id="source-table" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>People</th>
                            <th>Date</th>
                            <th>Publisher</th>
                            <th>Genre</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-sm-12 col-md-2">
                <div class="row no-gutters sidebar-row">
                    <div class="col-12">
                        <div class="ad-block white">
                            <a target="_blank" href="https://www.orbisbooks.com/christian-mission-contextual-theology-prophetic-dialogue.html"><img src="/static/missiology/img/books/demo8.png" class="img-fluid" /></a>
                        </div>
                        <div class="ad-block white">
                            <a target="_blank" href="https://www.eerdmans.com/Products/7498/participating-in-gods-mission.aspx"><img src="/static/missiology/img/books/demo1.png" class="img-fluid" /></a>
                        </div>
                        <div class="ad-block white">
                            <a target="_blank" href="https://www.ivpress.com/can-white-people-be-saved"><img src="../static/missiology/img/books/demo2.png" class="img-fluid" /></a>
                        </div>
                        <div class="ad-block white">
                            <a target="_blank" href="http://fortresspress.com/product/diaspora-christianities-global-scattering-and-gathering-south-asian-christians"><img src="../static/missiology/img/books/demo3.png" class="img-fluid" /></a>
                        </div>
                        <div class="ad-block white">
                            <a target="_blank" href="http://www.bakerpublishinggroup.com/books/cultural-insights-for-christian-leaders/388140"><img src="../static/missiology/img/books/demo4.png" class="img-fluid" /></a>
                        </div>
                        <div class="ad-block white">
                            <a target="_blank" href="https://www.zondervan.com/9780310522737/four-views-on-the-churchs-mission/"><img src="../static/missiology/img/books/demo5.png" class="img-fluid" /></a>
                        </div>
                        <div class="ad-block white">
                            <a target="_blank" href="https://wipfandstock.com/receptor-oriented-communication-for-hui-muslims-in-china.html"><img src="../static/missiology/img/books/demo6.png" class="img-fluid" /></a>
                        </div>
                        <div class="ad-block white">
                            <a target="_blank" href="https://missionbooks.org/products/detail/missiological-research"><img src="../static/missiology/img/books/demo7.png" class="img-fluid" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form id="export-form" action="/bibliography/export" method="post">
            {% csrf_token %}
            <input id="export-ids" type="hidden" name="ids" value="" />
        </form>
    </div>
{% endblock %}

{% block js %}
    <!--<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.15/datatables.min.js"></script>-->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.0/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript">
        var filters = [];
        var sources_table;

        $(document).ready(function() {
            sources_table = $('#source-table').DataTable({
                "ajax": '/bibliography/sources?format=datatables',
                "dom": 'ipfBtpir',
                "processing": true,
                "pageLength": 25,
                "scrollX": true,
                "scrollCollapse": true,
                "columnDefs": [
                    { "targets": 0, "visible": false, "searchable": false },
                    { "targets": 1, "width": "30%" },
                    { "targets": 2, "width": "20%" },
                    { "targets": 3, "width": "10%" },
                    { "targets": 4, "width": "10%" },
                    { "targets": 5, "width": "10%" },
                    { "targets": 6, "visible": false, "searchable": true }
                ],
                "order": [[ 1, "asc" ]],
                "buttons": [
                    {
                        "text": "Export",
                        "action": function (e, dt, node, config) {
                            if (filters.length > 0 || sources_table.search().length > 0) {
                                var data = sources_table.column(0, {search: 'applied'}).data().toArray();
                                var data_string = "";
                                for (var x = 0; x < data.length; x++) {
                                    data_string += data[x];
                                    if (x < data.length - 1) {
                                        data_string += ",";
                                    }
                                }
                                $("#export-ids").val(data_string);
                            } else {
                                $("#export-ids").val("");
                            }
                            $("#export-form").submit();
                        }
                    }
                ],
                "pagingType": "full"
            });

            $('#people-table').DataTable({
                "ajax": '/bibliography/people?format=datatables',
                "dom": 'ftp',
                "pageLength": 10,
                "scrollX": true,
                "scrollCollapse": true,
                "pagingType": "full"
            });

            $('#role-table').DataTable({
                "ajax": '/bibliography/roles?format=datatables',
                "dom": 'ftp',
                "pageLength": 10,
                "scrollX": true,
                "scrollCollapse": true,
                "pagingType": "full"
            });

            $('#field-table').DataTable({
                "ajax": '/bibliography/fields?format=datatables',
                "dom": 'ftp',
                "pageLength": 10,
                "scrollX": true,
                "scrollCollapse": true,
                "pagingType": "full"
            });

            $('#publisher-table').DataTable({
                "ajax": '/bibliography/publishers?format=datatables',
                "dom": 'ftp',
                "pageLength": 10,
                "scrollX": true,
                "scrollCollapse": true,
                "pagingType": "full"
            });


            $('#source-table').removeClass('display').addClass('table table-striped table-bordered');
            $('#people-table').addClass('table table-striped table-bordered');
            $('#publisher-table').addClass('table table-striped table-bordered');
            $('#field-table').addClass('table table-striped table-bordered');
            $('#role-table').addClass('table table-striped table-bordered');
        });

        function filter(type, id, desc) {
            var add = true;
            for (var x = 0; x < filters.length; x ++) {
                if (filters[x].id == id && filters[x].type == type) {
                    add = false;
                }
            }
            if (add) {
                filters.push({'type': type, 'id': id, 'desc': desc});
            }

            $('#filter-modal').modal('hide');
            reload_sources_table();
        }

        function unfilter(type, id) {
            for (var x = 0; x < filters.length; x ++) {
                if (filters[x].id == id && filters[x].type == type) {
                    filters.splice(x, 1);
                    reload_sources_table();
                    break;
                }
            }
        }

        function reload_sources_table() {
            var current_filters = "";
            var source_url = "/bibliography/sources?format=datatables&filter=";

            if (filters.length > 0) {
                $('#filter-panel').removeClass('d-none');
                for (var x = 0; x < filters.length; x++) {
                    source_url += filters[x].type + '_' + filters[x].id + ',';
                    current_filters += "<span id='filter-" + filters[x].type + "-" + filters[x].id + "'>" + filters[x].desc + "<a href=\"javascript: unfilter('" + filters[x].type + "', " + filters[x].id + ");\">&nbsp;<span class='oi oi-delete whitesmoke-fore' aria-hidden='true'> </span></a></span>";
                }
            } else {
                $('#filter-panel').addClass('d-none');
                $('#current-filters').html("");
                source_url = source_url.replace("&filter=", "");
            }

            $('#current-filters').html(current_filters);
            sources_table.ajax.url(source_url);
            sources_table = sources_table.ajax.reload(null, true);
        }
    </script>
{% endblock %}