{% extends 'missiology/base.html' %}
{% load static %}

{% block main %}
    <div class="row no-gutters">
        <div class="col-12 heading whitesmoke-fore dark-red">
            <img src="/static/missiology/img/doodad-light-gray.png" class="heading-img" style="max-height: 55px;" />
            Bibliography
            {% if is_admin %}
                <div class="float-right" style="margin-right: 10px;">
                    <a href="/admin/bibliography/source/{{ source.id }}/change/" class="btn btn-light">Edit</a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row mt-15">
        <div class="d-flex flex-column col-sm-12 postcard postcard-solo">
            <div class="row no-gutters">
                <div class="post-type post-type-bibliography col-md-2">
                    &nbsp;
                </div>
                <div class="col-sm-12 col-md-10 post-title">
                    <a href="/bibliography/detail?id={{ source.id }}">{{ source.title }}</a>
                </div>
            </div>
            <div class="row no-gutters flex-grow-1">
                <div class="content-block text-content white black-fore col-sm-12">
                    {% if source.roleperson_set.all %}
                        <div class="row">
                            <div class="col-sm-12 bib-header">
                                People
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 bib-info">
                                {% for roleperson in source.roleperson_set.all %}
                                    {{ roleperson.person }} (<b>{{ roleperson.role }}</b>)<br/>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% if source.container or source.series_title or source.series_number or source.volume or source.volume_number or source.issue or source.edition %}
                        {% if source.container %}
                            <div class='row'>
                                <div class='col-sm-12 bib-header'>Container</div>
                            </div>
                            <div class='row'>
                                <div class='col-sm-12 bib-info'>{{ source.container }}</div>
                            </div>
                        {% endif %}
                        {% if source.series_title %}
                            <div class='row'>
                                <div class='col-sm-12 bib-header'>Series Title</div>
                            </div>
                            <div class='row'>
                                <div class='col-sm-12 bib-info'>{{ source.series_title }}</div>
                            </div>
                        {% endif %}
                        {% if source.series_number %}
                            <div class='row'>
                                <div class='col-sm-12 bib-header'>Series Number</div>
                            </div>
                            <div class='row'>
                                <div class='col-sm-12 bib-info'>{{ source.series_number }}</div>
                            </div>
                        {% endif %}
                        {% if source.volume %}
                            <div class='row'>
                                <div class='col-sm-12 bib-header'>Volume</div>
                            </div>
                            <div class='row'>
                                <div class='col-sm-12 bib-info'>{{ source.volume }}</div>
                            </div>
                        {% endif %}
                        {% if source.volume_number %}
                            <div class='row'>
                                <div class='col-sm-12 bib-header'>Volume Number</div>
                            </div><div class='row'>
                                <div class='col-sm-12 bib-info'>{{ source.volume_number }}</div>
                            </div>
                        {% endif %}
                        {% if source.issue %}
                            <div class='row'>
                                <div class='col-sm-12 bib-header'>Issue</div>
                            </div>
                            <div class='row'>
                                <div class='col-sm-12 bib-info'>{{ source.issue }}</div>
                            </div>
                        {% endif %}
                        {% if source.edition %}
                            <div class='row'>
                                <div class='col-sm-12 bib-header'>Edition</div>
                            </div><div class='row'>
                                <div class='col-sm-12 bib-info'>{{ source.edition }}</div>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if source.publisher or source.pub_year or source.pages or source.doi or source.formats.all %}
                        {% if source.publisher %}
                            <div class='row'>
                                <div class='col-sm-12 bib-header'>Publisher</div>
                            </div>
                            <div class='row'>
                                <div class='col-sm-12 bib-info'>{{ source.publisher }}</div>
                            </div>
                        {% endif %}
                        {% if source.pub_year %}
                            <div class='row'>
                                <div class='col-sm-12 bib-header'>Date</div>
                            </div>
                            <div class='row'>
                                <div class='col-sm-12 bib-info'>{{ source.pub_year }}</div>
                            </div>
                        {% endif %}
                        {% if source.pages %}
                            <div class='row'>
                                <div class='col-sm-12 bib-header'>Pages</div>
                            </div>
                            <div class='row'>
                                <div class='col-sm-12 bib-info'>{{ source.pages }}</div>
                            </div>
                        {% endif %}
                        {% if source.doi %}
                            <div class='row'>
                                <div class='col-sm-12 bib-header'>DOI</div>
                            </div>
                            <div class='row'>
                                <div class='col-sm-12 bib-info'>{{ source.doi }}</div>
                            </div>
                        {% endif %}
                        {% if source.formats.all %}
                            <div class='row'>
                                <div class='col-sm-12 bib-header'>Format(s)</div>
                            </div>
                            <div class='row'>
                                <div class='col-sm-12 bib-info'>
                                    {% for format in source.formats.all %}
                                        {{ format }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if source.fields.all or source.locations.all or source.periods.all %}
                        {% if source.fields.all %}
                            <div class='row'>
                                <div class='col-sm-12 bib-header'>Genre(s)</div>
                            </div>
                            <div class='row'>
                                <div class='col-sm-12 bib-info'>
                                    {% for field in source.fields.all %}
                                        {{ field }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        {% if source.locations.all %}
                            <div class='row'>
                                <div class='col-sm-12 bib-header'>Location(s)</div>
                            </div>
                            <div class='row'>
                                <div class='col-sm-12 bib-info'>
                                    {% for location in source.locations.all %}
                                        {{ location }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        {% if source.periods.all %}
                            <div class='row'>
                                <div class='col-sm-12 bib-header'>Period(s)</div>
                            </div>
                            <div class='row'>
                                <div class='col-sm-12 bib-info'>
                                    {% for period in source.periods.all %}
                                        {{ period }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if source.notes %}
                        <div class='row'>
                            <div class='col-sm-12 bib-header'>Notes</div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-12 bib-info'>{{ source.notes }}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}