{% extends 'missiology/base.html' %}
{% load extras %}

{% block main %}
    <div id="header">
        <div class="d-none d-md-flex align-items-center brand-lg h-100">
            &nbsp;<!--<img src="/static/missiology/img/missiology.png" class="header-img mx-auto" />-->
        </div>
        <div class="d-sm-flex d-md-none align-items-center h-100" style="padding: 20px;">
            &nbsp;<!--<img id="header-img" src="/static/missiology/img/missiology-sm.png" class="header-img img-fluid mx-auto" />-->
        </div>
    </div>

    <div class="row no-gutters dark-red p-2">
        <div class="col-12 col-sm-6 col-md-3 p-2">
            <div class="row no-gutters">
                <div class="d-flex align-items-center col-12">
                    <img src="/static/missiology/img/blog-red.png" class="img-fluid subheading-img" />
                    <span class="subheading whitesmoke-fore">Blog</span>
                </div>
            </div>
            <div class="row no-gutters mt-2">
                <div class="col-sm-12 text-small whitesmoke-fore">
                    Curated news and perspectives from our diverse writing collective.
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 p-2">
            <div class="row no-gutters">
                <div class="d-flex align-items-center col-12">
                    <img src="/static/missiology/img/podcast-red.png" class="img-fluid subheading-img" />
                    <span class="subheading whitesmoke-fore">Podcast</span>
                </div>
            </div>
            <div class="row no-gutters mt-2">
                <div class="col-sm-12 text-small whitesmoke-fore">
                    Conversations with missiologists about their experiences in the study of mission.
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 p-2">
            <div class="row no-gutters">
                <div class="d-flex align-items-center col-12">
                    <img src="/static/missiology/img/bibliography-red.png" class="img-fluid subheading-img" />
                    <span class="subheading whitesmoke-fore">Bibliography</span>
                </div>
            </div>
            <div class="row no-gutters mt-2">
                <div class="col-sm-12 text-small whitesmoke-fore">
                    The latest and greatest of missiology texts, catalogued in our unique database.
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 p-2">
            <div class="row no-gutters">
                <div class="d-flex align-items-center col-sm-12">
                    <img src="/static/missiology/img/resources-red.png" class="img-fluid subheading-img" />
                    <span class="subheading whitesmoke-fore">Resources</span>
                </div>
            </div>
            <div class="row no-gutters mt-2">
                <div class="col-sm-12 text-small whitesmoke-fore">
                    Blogs, scholarly journals, organizations, schools, and more.
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="row no-gutters mt-15">
            <div class="col-12 col-md-8">
                <div class="row no-gutters mt-0">
                    <div class="col-sm-12 heading whitesmoke-fore dark-gray">
                        <img src="/static/missiology/img/doodad-light-gray.png" class="heading-img" style="max-height: 55px;" />
                        Recent
                    </div>
                </div>
                {% if recent.post %}
                    <div class="row mt-15">
                        <div class="d-flex flex-column col-sm-12 postcard postcard-solo">
                            <div class="row no-gutters">
                                <div class="post-type post-type-blog col-md-2">
                                    &nbsp;
                                </div>
                                <div class="col-sm-12 col-md-10 post-title">
                                    <a href="/blog/{{ recent.post.nice_url }}">{{ recent.post.title }}</a>
                                    {% if is_admin or can_blog %}
                                        &nbsp;<a href="/blog/create?post-id={{ recent.post.id }}"><span class="oi oi-pencil"></span></a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="d-flex align-items-center col-sm-12 byline-author whitesmoke-fore">
                                    <a class="by-link" href="#">{{ recent.post.user.get_full_name }}</a>
                                    &nbsp;<a class="by-link-small" href="#">{{ recent.post.pub_date|datetimeparse }}</a>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-sm-12 byline-tags whitesmoke">
                                    Tags:
                                    {% for tag in recent.post.tags.all %}
                                        <a class="by-link-small" href="/blog?tag-id={{ tag.id }}">{{ tag.text }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row no-gutters flex-grow-1">
                                <div class="content-block text-content white black-fore col-sm-12">
                                    {{ recent.post.content|safe|truncatewords_html:50 }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if recent.podcast %}
                    <div class="row mt-15">
                        <div class="d-flex flex-column col-sm-12 postcard postcard-solo">
                            <div class="row no-gutters">
                                <div class="post-type post-type-podcast col-md-2">
                                    &nbsp;
                                </div>
                                <div class="col-sm-12 col-md-10 post-title">
                                    <a href="/podcast/{{ recent.podcast.nice_url }}">{{ recent.podcast.title }}</a>
                                    {% if is_admin %}
                                        &nbsp;<a href="/podcast/create?podcast-id={{ recent.podcast.id }}"><span class="oi oi-pencil"></span></a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="d-flex align-items-center col-sm-12 byline-author whitesmoke-fore">
                                    <a class="by-link" href="#">{{ recent.podcast.user.get_full_name }}</a>
                                    &nbsp;<a class="by-link-small" href="#">{{ recent.podcast.pub_date|datetimeparse }}</a>
                                </div>
                            </div>
                            <div class="row no-gutters flex-grow-1">
                                <div class="content-block text-content white black-fore col-sm-12">
                                    <audio controls class="w-100">
                                        <source src="/media/{{ recent.podcast.url }}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                    {{ recent.podcast.summary|safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if recent.source %}
                    <div class="row mt-15">
                        <div class="d-flex flex-column col-sm-12 postcard postcard-solo">
                            <div class="row no-gutters">
                                <div class="post-type post-type-bibliography col-md-2">
                                    &nbsp;
                                </div>
                                <div class="col-sm-12 col-md-10 post-title">
                                    <a href="/bibliography/detail?id={{ recent.source.id }}">{{ recent.source.title }}</a>
                                </div>
                            </div>
                            <div class="row no-gutters flex-grow-1">
                                <div class="content-block text-content white black-fore col-sm-12">
                                    {% if recent.source.roleperson_set.all %}
                                        <div class="row">
                                            <div class="col-sm-12 bib-header">
                                                People
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 bib-info">
                                                {% for roleperson in recent.source.roleperson_set.all %}
                                                    {{ roleperson.person }} (<b>{{ roleperson.role }}</b>)<br/>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if recent.source.container or recent.source.series_title or recent.source.series_number or recent.source.volume or recent.source.volume_number or recent.source.issue or recent.source.edition %}
                                        {% if recent.source.container %}
                                            <div class='row'>
												<div class='col-sm-12 bib-header'>Container</div>
                                            </div>
                                            <div class='row'>
                                                <div class='col-sm-12 bib-info'>{{ recent.source.container }}</div>
                                            </div>
                                        {% endif %}
                                        {% if recent.source.series_title %}
                                            <div class='row'>
												<div class='col-sm-12 bib-header'>Series Title</div>
                                            </div>
                                            <div class='row'>
                                                <div class='col-sm-12 bib-info'>{{ recent.source.series_title }}</div>
                                            </div>
                                        {% endif %}
                                        {% if recent.source.series_number %}
                                            <div class='row'>
												<div class='col-sm-12 bib-header'>Series Number</div>
                                            </div>
                                            <div class='row'>
                                                <div class='col-sm-12 bib-info'>{{ recent.source.series_number }}</div>
                                            </div>
                                        {% endif %}
                                        {% if recent.source.volume %}
                                            <div class='row'>
												<div class='col-sm-12 bib-header'>Volume</div>
                                            </div>
                                            <div class='row'>
                                                <div class='col-sm-12 bib-info'>{{ recent.source.volume }}</div>
                                            </div>
                                        {% endif %}
                                        {% if recent.source.volume_number %}
                                            <div class='row'>
												<div class='col-sm-12 bib-header'>Volume Number</div>
                                            </div><div class='row'>
                                                <div class='col-sm-12 bib-info'>{{ recent.source.volume_number }}</div>
                                            </div>
                                        {% endif %}
                                        {% if recent.source.issue %}
                                            <div class='row'>
												<div class='col-sm-12 bib-header'>Issue</div>
                                            </div>
                                            <div class='row'>
                                                <div class='col-sm-12 bib-info'>{{ recent.source.issue }}</div>
                                            </div>
                                        {% endif %}
                                        {% if recent.source.edition %}
                                            <div class='row'>
												<div class='col-sm-12 bib-header'>Edition</div>
                                            </div><div class='row'>
                                                <div class='col-sm-12 bib-info'>{{ recent.source.edition }}</div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                    {% if recent.source.publisher or recent.source.pub_year or recent.source.pages or recent.source.doi or recent.source.formats.all %}
                                        {% if recent.source.publisher %}
                                            <div class='row'>
                                                <div class='col-sm-12 bib-header'>Publisher</div>
                                            </div>
                                            <div class='row'>
                                                <div class='col-sm-12 bib-info'>{{ recent.source.publisher }}</div>
                                            </div>
                                        {% endif %}
                                        {% if recent.source.pub_year %}
                                            <div class='row'>
                                                <div class='col-sm-12 bib-header'>Date</div>
                                            </div>
                                            <div class='row'>
                                                <div class='col-sm-12 bib-info'>{{ recent.source.pub_year }}</div>
                                            </div>
                                        {% endif %}
                                        {% if recent.source.pages %}
                                            <div class='row'>
                                                <div class='col-sm-12 bib-header'>Pages</div>
                                            </div>
                                            <div class='row'>
                                                <div class='col-sm-12 bib-info'>{{ recent.source.pages }}</div>
                                            </div>
                                        {% endif %}
                                        {% if recent.source.doi %}
                                            <div class='row'>
                                                <div class='col-sm-12 bib-header'>DOI</div>
                                            </div>
                                            <div class='row'>
                                                <div class='col-sm-12 bib-info'>{{ recent.source.doi }}</div>
                                            </div>
                                        {% endif %}
                                        {% if recent.source.formats.all %}
                                            <div class='row'>
                                                <div class='col-sm-12 bib-header'>Format(s)</div>
                                            </div>
                                            <div class='row'>
                                                <div class='col-sm-12 bib-info'>
                                                    {% for format in recent.source.formats.all %}
                                                        {{ format }}{% if not forloop.last %}, {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                    {% if recent.source.fields.all or recent.source.locations.all or recent.source.periods.all %}
                                        {% if recent.source.fields.all %}
                                            <div class='row'>
                                                <div class='col-sm-12 bib-header'>Genre(s)</div>
                                            </div>
                                            <div class='row'>
                                                <div class='col-sm-12 bib-info'>
                                                    {% for field in recent.source.fields.all %}
                                                        {{ field }}{% if not forloop.last %}, {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if recent.source.locations.all %}
                                            <div class='row'>
                                                <div class='col-sm-12 bib-header'>Location(s)</div>
                                            </div>
                                            <div class='row'>
                                                <div class='col-sm-12 bib-info'>
                                                    {% for location in recent.source.locations.all %}
                                                        {{ location }}{% if not forloop.last %}, {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if recent.source.periods.all %}
                                            <div class='row'>
                                                <div class='col-sm-12 bib-header'>Period(s)</div>
                                            </div>
                                            <div class='row'>
                                                <div class='col-sm-12 bib-info'>
                                                    {% for period in recent.source.periods.all %}
                                                        {{ period }}{% if not forloop.last %}, {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                    {% if recent.source.notes %}
                                        <div class='row'>
                                            <div class='col-sm-12 bib-header'>Notes</div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-sm-12 bib-info'>{{ recent.source.notes }}</div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if recent.resource %}
                    <div class="row mt-15">
                        <div class="d-flex flex-column col-sm-12 postcard postcard-solo">
                            <div class="row no-gutters">
                                <div class="post-type post-type-resource col-md-2">
                                    &nbsp;
                                </div>
                                <div class="col-sm-12 col-md-10 post-title">
                                    <a href="/resources/{{ recent.resource.nice_url }}">{{ recent.resource.title }}</a>
                                    {% if is_admin or can_blog %}
                                        &nbsp;<a href="/resources/create?resource-id={{ recent.resource.id }}"><span class="oi oi-pencil"></span></a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-sm-12 byline-tags whitesmoke">
                                    Categories:
                                    {% for tag in recent.resource.tags.all %}
                                        <a class="by-link-small" href="/blog?tag-id={{ tag.id }}">{{ tag.text }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row no-gutters flex-grow-1">
                                <div class="content-block text-content white black-fore col-sm-12">
                                    {{ recent.resource.content|safe|truncatewords_html:50 }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-4">
                <div class="row no-gutters sidebar-row">
                    <div class="col-sm-12 heading white sidebar-col sidebar-header gray-fore">
                        Sponsors
                    </div>
                </div>
                <div class="row no-gutters mt-15 sidebar-row">
                    <div class="col-sm-12 white sidebar-col sidebar-item">
                        <img src="../static/missiology/img/studyhere.jpg" class="img-fluid" />
                    </div>
                </div>

                <div class="row no-gutters mt-15 sidebar-row">
                    <div class="col-sm-12 white sidebar-col sidebar-item">
                        <img src="../static/missiology/img/servehere.jpg" class="img-fluid" />
                    </div>
                </div>

                <div class="row no-gutters mt-15 sidebar-row">
                    <div class="col-sm-12 white sidebar-col sidebar-item">
                        <img src="../static/missiology/img/readthis.jpg" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        /*
        $(document).ready(function(){
            $('#header').css("background-image", "url('/static/missiology/img/worn-paper.gif')");
        });
        */
    </script>
{% endblock %}