{% extends 'missiology/base.html' %}
{% load extras %}

{% block main %}
    <div class="row no-gutters">
        <div class="col-sm-12">
            <div class="row no-gutters mt-0">
                <div class="col-sm-12 heading whitesmoke-fore dark-red">
                    {% if page %}
                        <img src="/static/missiology/img/doodad-light-gray.png" class="heading-img" style="max-height: 55px;" />
                        {{ page.name }}
                    {% else %}
                        Page not found!
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-sm-12">
            <!-- SITE SECITONS -->
            {% for section in sections %}
                {{ section.html }}
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block js %}

{% endblock %}