{% extends 'missiology/base.html' %}
{% load extras %}

{% block headmeta %}
    <link rel="alternate" type="application/rss+xml" title="Subscribe" href="http://missiology.com/podcast/feed.rss" />
{% endblock %}

{% block main %}
    <div style="padding-left: 0; padding-right: 0;" class="container">
        <div class="row no-gutters">
            <div class="col-12 heading whitesmoke-fore dark-red">
                <img src="/static/missiology/img/doodad-light-gray.png" class="heading-img" style="max-height: 55px;" />
                Podcast
                <div class="float-right" style="margin-right: 10px;">
                    <a href="/podcast/feed.rss" class="btn btn-light"><span class="oi oi-rss"></span></a>
                    {% if is_admin or can_blog %}
                        <a href="/podcast/create" class="btn btn-light">New Post</a>
                    {% endif %}
                </div>
            </div>
        </div>

        {% for section in sections %}
            {{ section.html }}
        {% endfor %}

        <div class="row no-gutters mt-15">
            <!--<div class="col-sm-12 col-md-9">-->
            <div class="col-sm-12">
                <div class="row postcard-row">
                    {% for podcast in podcasts %}
                        <div class="d-flex flex-column col-sm-12 col-lg-6 postcard {% if forloop.counter|divisibleby:"2" %}postcard-right{% endif %}">
                            <div class="row no-gutters">
                                <div class="post-type post-type-podcast col-md-2">
                                    &nbsp;
                                </div>
                                <div class="col-sm-12 col-md-10 post-title">
                                    {% if is_admin or can_blog %}
                                        {% if not podcast.published %}
                                            [DRAFT]
                                        {% endif %}
                                    {% endif %}
                                    <a href="/podcast/{{ podcast.nice_url }}">{{ podcast.title }}</a>
                                    {% if is_admin or can_blog %}
                                        &nbsp;<a href="/podcast/create?podcast-id={{ podcast.id }}&page={{ paginator.number }}"><span class="oi oi-pencil"></span></a>
                                    {% endif %}
                                </div>
                            </div>
                             <div class="row no-gutters">
                                <div class="col-sm-12 byline-author whitesmoke-fore">
                                    <a class="by-link" href="#">{{ podcast.user.get_full_name }}</a> <a class="by-link-small" href="#">{{ podcast.pub_date|datetimeparse }}</a><br/>
                                </div>
                            </div>
                            <div class="row no-gutters flex-grow-1">
                                <div class="content-block text-content white black-fore col-sm-12">
                                    <audio controls class="w-100">
                                        <source src="/media/{{ podcast.url }}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                    {{ podcast.summary|safe|truncatewords_html:100 }}
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:"2" and not forloop.last %}
                            </div><div class="row postcard-row">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!--
            <div class="col-sm-12 col-md-3">
                <div class="row no-gutters sidebar-row">
                    <div class="col-sm-12 sidebar-col sidebar-header heading dark-gray whitesmoke-fore">
                        Categories
                    </div>
                </div>
                <div class="row no-gutters sidebar-row">
                    <div class="col-sm-12 sidebar-col submenu white">
                        {% if filtered %}
                            <a class="tag-link rounded" href="/resources">All</a></li>
                        {% endif %}
                        {% for tag in tags %}
                            <a class="tag-link rounded" href="/resources?tag-id={{ tag.id }}">{{ tag.text }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            /-->
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <span class="pages">
                {% if paginator.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ paginator.previous_page_number }}">previous</a>
                {% endif %}

                Page {{ paginator.number }} of {{ paginator.num_pages }}

                {% if paginator.has_next %}
                    <a href="?page={{ paginator.next_page_number }}">next</a>
                    <a href="?page={{ paginator.num_pages }}">last &raquo;</a>
                {% endif %}
                </span>
            </div>
        </div>
    </div>
{% endblock %}