{% extends 'missiology/base.html' %}
{% load extras %}

{% block main %}
    <div class="container">
        <div class="row no-gutters">
            <div class="col-12 heading whitesmoke-fore light-gray">
                <img src="/static/missiology/img/doodad-light-gray.png" class="heading-img" style="max-height: 55px;" />
                Podcast
            </div>
        </div>

        {% if is_admin or can_cast %}
            <div class="row">
                <div class="col-12">
                    <a href="/podcast/create"><span class="oi oi-plus"></span> New podcast</a>
                </div>
            </div>
        {% endif %}

        {% for podcast in podcasts %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="content-block white">
                        <div class="row no-gutters">
                            <div class="col-sm-1">
                                <img src="/static/missiology/img/podcast-light-cream.png" class="subheading-img img-fluid">
                            </div>
                            <div class="col-sm-11">
                                <span class="subheading">
                                    {% if is_admin or can_blog %}
                                        {% if not podcast.published %}
                                            [DRAFT]
                                        {% endif %}
                                    {% endif %}
                                    {{ podcast.title }}
                                    {% if is_admin or can_blog %}
                                        &nbsp;<a href="/podcast/create?post-id={{ podcast.id }}"><span class="oi oi-pencil"></span></a>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-11 text-byline light-gray-fore">
                                Posted by <a href="#">{{ podcast.user.get_full_name }}</a> at <a href="#">{{ podcast.pub_date|datetimeparse }}</a>
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col-sm-12 text-content black-fore">
                                <audio controls>
                                    <source src="/media/{{ podcast.url }}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                                {{ podcast.summary|safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row no-gutters">
            <div class="col-12">
                {% if podcast.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ podcast.previous_page_number }}">previous</a>
                {% endif %}

                Page {{ podcast.number }} of {{ podcast.paginator.num_pages }}

                {% if podcast.has_next %}
                    <a href="?page={{ podcast.next_page_number }}">next</a>
                    <a href="?page={{ podcast.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}