{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>St. Philips Episcopal Church</title>
    <link rel="shortcut icon" href="{% static 'stphilips/favicon.ico' %}" />
    <link rel="stylesheet" href="https://use.typekit.net/rzc2evt.css">
    <link rel="stylesheet" href="{% static 'stphilips/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'stphilips/css/open-iconic-bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'stphilips/css/stpec.css' %}"/>
    {% block css %}
    {% endblock %}
</head>
<body>
    <div class="container">

    {% if response.is_admin and editing %}
        <!-- SECTION EDITING MODAL -->
        <div id="section-modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <form id="sec-layout-form" method="post" action="">
                        {% csrf_token %}
                        <input type="hidden" id="sec-page-id" name="page-id" value="{{ page_id }}"/>
                        <input type="hidden" id="sec-id" name="sec-id" value=""/>
                        <input type="hidden" id="sec-order" name="sec-order" value=""/>
                        <input type="hidden" id="sec-layout-json" name="layout-json" value="{}"/>

                        <input id="sec-num-rows" type="hidden" value="0"/>
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Section</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row" style="margin-bottom: 20px;">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="sec-header-text">Header Text</label>
                                            <input class="form-control" id="sec-header-text" type="text" name="header-text" placeholder="My Section"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="sec-header-css">Header CSS</label>
                                            <input type="text" class="form-control" id="sec-header-css" name="header-css" />
                                        </div>
                                        <div class="form-group">
                                            <label for="sec-header-css">Anchor Name</label>
                                            <input class="form-control" id="sec-header-name" type="text" name="header-name" placeholder="my_section"/>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check-inline">
                                            <input class="form-check-input" id="sec-show-header" type="checkbox" name="show-header" />
                                            <label for="sec-show-header">Show Header</label>
                                        </div>
                                        <div class="form-check-inline">
                                            <input class="form-check-input" id="sec-full-width" type="checkbox" name="full-width" />
                                            <label for="sec-full-width">Full Screen Width</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <h5>Layout</h5>
                                            <hr/>
                                            <div id="sec_layout_alert_box"></div>
                                            <a href="javascript: add_row();">Add Row</a>
                                            <div id="sec-layout-box" class="container"></div>
                                            <div id="sec-col-settings-div" class="col-md-12">
                                                <!--Column settings populated here via halcyon.js-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="float-left">
                                <button type="button" class="btn btn-primary" onclick="save_section();">Save</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                            <div class="float-right">
                                <button type="button" class="btn btn-danger" onclick="delete_section();">Delete Section</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- CUSTOM CONTENT EDITING MODAL -->
        <div id="content-edit-modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <form id="content-edit-form" method="post" action="">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Custom Content</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="custom-editor-div">
                            <div id="custom-editor"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="save_custom_edit();">Save</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    {% block modals %}
    {% endblock %}

    <!-- NAVBAR -->
    <nav id="navbar" class="navbar navbar-expand navbar-dark fixed-top">
        <a class="navbar-brand" href="/"><img border="0" class="img-fluid" src="{% static 'img/stpec-logo.png' %}" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resource">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resource#giving">Give</a>
                </li>
                <li class="nav-item float-right">
                    {% if response.is_admin %}
                        <a class="nav-link" href="/accounts/register">Logout</a>
                    {% else %}
                        <a class="nav-link" href="/accounts/login">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>

    <!-- SITE RESPONSES -->
    {% if response %}
        {% if response.success %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{ response.success }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        {% endif %}
        {% for message in response.messages %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        {% endfor %}
        {% for error in response.errors %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
              {{ error }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        {% endfor %}
    {% endif %}
    {% block main %}{% endblock %}

    {% if response.is_admin %}
        <div class="row no-gutters stpec-header-light-blue section-header">
            <div class="col-sm-12">
                Admin Tools
            </div>
        </div>
        <div class="container section-content">
            {% if editing %}
                <a href="/{% if page.url != '/' %}{{ page.url }}{% endif %}" class="btn btn-primary">Stop Editing</a><br>
                <a href="javascript: new_section({{ sections|length }});">New Section</a> | <a href="/admin/home/sitepage/" target="_blank">Manage Pages</a>
            {% else %}
                <a href="?editing=y" class="btn btn-primary">Edit Page</a>
            {% endif %}
        </div>
    {% endif %}

    <div class="container-fluid" style="height: 200px;">
        &nbsp;
    </div>

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <script type="text/javascript">
        var page_id = {% if page %}{{ page.id }}{% elif page_id %}{{ page_id }}{% else %}0{% endif %};
        var csrf_token = '{{ csrf_token }}';
        var medium_pixel_width = 768;
        var large_pixel_width = 1100;
        var default_header_css = "row no-gutters stpec-header-light-blue section-header";
        var default_row_css = "row section-content";
        var default_col_css = "";
    </script>
    <script src="{% static 'js/halcyon.js' %}"></script>
    {% block js %}
    {% endblock %}
    </div>
</body>
</html>