{% extends 'stphilips/base.html' %}
{% load extras %}

{% block css %}
    <link href="/static/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="container">
        <div class="content-block white">
            <div class="subheading">
                {% if resource.id == 'new' %}New Resource{% else %}Edit Resource{% endif %}
            </div>
            <form id="resource-post-form" method="post">
                {% csrf_token %}
                <input type="hidden" name="resource-id" value="{{ resource.id }}" />
                <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="title-box" name="title" value="{{ resource.title }}" placeholder="Title">
                </div>
                <div class="form-group">
                    <textarea id="custom_editor" name="content">
                        {{ resource.content }}
                    </textarea>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-12">
                            <label for="tag-box">Tags (comma separated)</label>
                            <input type="text" id="tag-box" class="form-control" name="tags" value="{{ resource.tag_string }}" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="publish-box" name="published" {% if resource.published %}checked{% endif %}>
                    <label for="publish-box">Publish?</label>
                </div>
                <div class="form-group">
                    <a class="btn" href="/resources">Cancel</a>
                    <button type="submit" class="btn btn-primary" id="save-button">Save</button>
                    {% if resource.id != 'new' %}
                        <div class="float-right"><a class="btn" href="?resource-id={{ resource.id }}&delete=y"><span class="oi oi-trash"></span></a></div>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/js/ckeditor/ckeditor.js"></script>
    <script src="/static/js/jQuery.base64.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/tempusdominus-bootstrap-4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            CKEDITOR.replace('custom_editor', {
                extraPlugins: '',
                removeButtons: 'Styles,Maximize,About',
                allowedContent: true
            });
        });
    </script>
{% endblock %}