{% extends 'stphilips/base.html' %}
{% load static %}

{% block main %}
    <main id="main-content" role="main" class="container-fluid index">
        <div id="header-row" class="row d-none d-md-flex">
            <div class="col-md-8 header-left"></div>
            <div class="col-md-4 text-center header-links">
                <table style="margin-left: auto; margin-right: auto;">
                    <tr>
                        <td valign="top">
                            <img id="logo-shield" class="d-inline-block" src="{% static 'stphilips/img/shield.png' %}" />
                        </td>
                        <td valign="top" align="left">
                            <div id="logo-episcopal">Episcopal Church</div>
                            <div id="logo-address">408 Cedar St., Hearne, Texas</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 header-left d-none d-md-block"></div>
            <div class="col-md-4" style="background: rgba(243,236,223,0.7);">
                <div class="row d-block d-md-none text-center">
                    <img id="logo-church" src="{% static 'stphilips/img/stpec-sm.png' %}" class="w-75" />
                </div>
                <div class="row d-block d-md-none">
                    <table style="margin-left: auto; margin-right: auto;">
                        <tr>
                            <td valign="top">
                                <img id="logo-shield" class="d-inline-block" src="{% static 'stphilips/img/shield.png' %}" />
                            </td>
                            <td valign="top">
                                <div id="logo-episcopal">Episcopal Church</div>
                                <div id="logo-address">408 Cedar St., Hearne, Texas</div>

                            </td>
                        </tr>
                    </table>
                </div>
                <div class="row tagline header-spacing">
                    Come and see! We'd love for you to visit us&mdash;we meet every Sunday at 11:00AM.
                </div>
                <div class="row header-spacing">
                    <button type="button" class="btn header-button" onclick="scroll_to_section('who_we_are');">Who We Are</button>
                </div>
                <div class="row header-spacing">
                    <button type="button" class="btn header-button" onclick="scroll_to_section('coming_to_church');">Coming to Church</button>
                </div>
                <div class="row header-spacing">
                    <button type="button" class="btn header-button" onclick="scroll_to_section('what_we_do');">What We Do</button>
                </div>
            </div>
        </div>
    </main>

    <div class="row no-gutters">
        <div class="col-sm-12">
            <!-- SITE SECITONS -->
            {% for section in sections %}
                {{ section.html }}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js %}
    {% if response.is_admin %}
        <script src="/static/js/ckeditor/ckeditor.js"></script>
        <script src="/static/js/jQuery.base64.js"></script>
        <script src="/static/js/ace/ace.js"></script>
        <script type="javascript">
        </script>
    {% endif %}
{% endblock %}