{% extends 'stphilips/base.html' %}
{% load static %}

{% block modals %}
    <!-- SECTION EDITING MODAL -->
    <div id="section-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form id="sec-layout-form" method="post" action="">
                    {% csrf_token %}
                    <input type="hidden" id="sec-page-id" name="page-id" value="{{ page_id }}"/>
                    <input type="hidden" id="sec-id" name="sec-id" value=""/>
                    <input type="hidden" id="sec-order" name="sec-order" value=""/>
                    <input type="hidden" id="sec-layout-json" name="layout-json" value="{}"/>

                    <input id="sec-num-rows" type="hidden" value="0"/>
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Section</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row" style="margin-bottom: 20px;">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="sec-header-text">Header Text</label>
                                        <input class="form-control" id="sec-header-text" type="text" name="header-text" placeholder="My Section"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="sec-header-css">Header CSS</label>
                                        <input type="text" class="form-control" id="sec-header-css" name="header-css" />
                                    </div>
                                    <div class="form-group">
                                        <label for="sec-header-css">Anchor Name</label>
                                        <input class="form-control" id="sec-header-name" type="text" name="header-name" placeholder="my_section"/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="sec-show-header">Show Header</label>
                                        <input class="form-control" id="sec-show-header" type="checkbox" name="show-header">
                                    </div>
                                    <div class="form-group">
                                        <label for="sec-full-width">Full Screen Width</label>
                                        <input class="form-control" id="sec-full-width" type="checkbox" name="full-width">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h5>Layout</h5>
                                        <hr/>
                                        <div id="sec_layout_alert_box"></div>
                                        <a href="javascript: add_row();">Add Row</a>
                                        <div id="sec-layout-box" class="container"></div>
                                        <div id="sec-col-settings-div" class="col-md-12">
                                            <!--Column settings populated here via halcyon.js-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="float-left">
                            <button type="button" class="btn btn-primary" onclick="save_section();">Save</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        <div class="float-right">
                            <button type="button" class="btn btn-danger" onclick="delete_section();">Delete Section</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- CUSTOM CONTENT EDITING MODAL -->
    <div id="content-edit-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form id="content-edit-form" method="post" action="">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Custom Content</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="custom-editor-div">
                        <div id="custom-editor"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="save_custom_edit();">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <main id="main-content" role="main" class="container-fluid index">
        <div id="header-row" class="row d-none d-md-flex">
            <div class="col-md-8 header-left"></div>
            <div class="col-md-4 text-center header-links">
                <table style="margin-left: auto; margin-right: auto;">
                    <tr>
                        <td valign="top">
                            <img id="logo-shield" class="d-inline-block" src="{% static 'stphilips/img/shield.png' %}" />
                        </td>
                        <td valign="top" align="left">
                            <div id="logo-episcopal">Episcopal Church</div>
                            <div id="logo-address">408 Cedar St., Hearne, Texas</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 header-left d-none d-md-block"></div>
            <div class="col-md-4" style="background: rgba(243,236,223,0.7);">
                <div class="row d-block d-md-none text-center">
                    <img id="logo-church" src="{% static 'stphilips/img/stpec-sm.png' %}" class="w-75" />
                </div>
                <div class="row d-block d-md-none">
                    <table style="margin-left: auto; margin-right: auto;">
                        <tr>
                            <td valign="top">
                                <img id="logo-shield" class="d-inline-block" src="{% static 'stphilips/img/shield.png' %}" />
                            </td>
                            <td valign="top">
                                <div id="logo-episcopal">Episcopal Church</div>
                                <div id="logo-address">408 Cedar St., Hearne, Texas</div>

                            </td>
                        </tr>
                    </table>
                </div>
                <div class="row tagline header-spacing">
                    Come and see! We'd love for you to visit us&mdash;we meet every Sunday at 11:00AM.
                </div>
                <div class="row header-spacing">
                    <button type="button" class="btn header-button" onclick="scroll_to_section('who_we_are');">Who We Are</button>
                </div>
                <div class="row header-spacing">
                    <button type="button" class="btn header-button" onclick="scroll_to_section('coming_to_church');">Coming to Church</button>
                </div>
                <div class="row header-spacing">
                    <button type="button" class="btn header-button" onclick="scroll_to_section('what_we_do');">What We Do</button>
                </div>
            </div>
        </div>
    </main>

    <div class="row no-gutters">
        <div class="col-sm-12">
            <!-- SITE SECITONS -->
            {% for section in sections %}
                <a name="{{ section.name }}"></a>
                {% if section.show_header or editing %}
                    <div id="section-header-{{ section.id }}" class="{{ section.header_css_class }} section-header">
                        {{ section.header_text }}
                        {% if response.is_admin and editing %}
                            <div class="d-flex align-items-center" style="font-size: 20px;">
                                &nbsp;<a class="wlink" href="javascript: edit_section('{{ section.id }}');"><span class="oi oi-cog section-settings"></span></a>
                                &nbsp;<a class="wlink" href="/{{ page.url }}?editing=y&section={{ section.id }}&move=up"><span class="oi oi-arrow-top"></span></a>
                                <a class="wlink" href="/{{ page.url }}?editing=y&section={{ section.id }}&move=down"><span class="oi oi-arrow-bottom"></span></a>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="container">
                    {% for row in section.rows %}
                        <div class="{{ row.css }}">
                            {% for col in row.cols %}
                                <div id="section-content-{{ col.id }}"
                                    class="col-sm-{{ col.width }} {{ col.css }}"
                                    {% if response.is_admin and editing and not col.is_custom %}
                                        contenteditable="true"
                                    {% elif response.is_admin and editing and col.is_custom %}
                                        onclick="show_custom_editor({{ col.id }});"
                                    {% endif %}
                                >
                                    {{ col.html|safe }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

    {% if response.is_admin %}
        <div class="row no-gutters stpec-header-light-blue section-header">
            <div class="col-sm-12">
                Admin Tools
            </div>
        </div>
        <div class="container section-content">
            {% if editing %}
                <a href="/{% if page.url != '/' %}{{ page.url }}{% endif %}" class="btn btn-primary">Stop Editing</a><br>
                <a href="javascript: new_section({{ sections|length }});">New Section</a> | <a href="/admin/home/sitepage/" target="_blank">Manage Pages</a>
            {% else %}
                <a href="?editing=y" class="btn btn-primary">Edit Page</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    {% if response.is_admin %}
        <script src="/static/js/ckeditor/ckeditor.js"></script>
        <script src="/static/js/jQuery.base64.js"></script>
        <script src="/static/js/ace/ace.js"></script>
        <script type="javascript">
        </script>
    {% endif %}
{% endblock %}