{% extends 'stphilips/base.html' %}
{% load extras %}

{% block css %}
    <style type="text/css">
        #custom-editor {
            /** Setting height is also important, otherwise editor wont showup**/
            height: 300px;
        }
    </style>
{% endblock %}

{% block main %}
    <main id="main-content" class="container-fluid resources" style="height: 300px;">
        <div class="row">
            <div class="col-12">
                &nbsp;
            </div>
        </div>
    </main>

    <div class="row no-gutters stpec-header-light-blue section-header">
        <div class="col-sm-12">
            {{ page.name }}
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-sm-12">
            <!-- SITE SECITONS -->
            {% for section in sections %}
                {{ section.html }}
            {% endfor %}
        </div>
    </div>

    {% if response.is_admin %}
        <div class="row no-gutters stpec-header-light-blue section-header" style="margin-top: 20px;">
            <div class="col-sm-12">
                Admin Tools
            </div>
        </div>
        <div class="container section-content">
            {% if editing %}
                <a href="/{% if page.url != '/' %}{{ page.url }}{% endif %}" class="btn btn-primary">Stop Editing</a><br>
                <a href="javascript: new_section({{ sections|length }});">New Section</a> | <a href="/admin/home/sitepage/" target="_blank">Manage Pages</a>
            {% else %}
                <a href="?editing=y" class="btn btn-primary">Edit Page</a>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}

{% block js %}
    {% if response.is_admin %}
        <script src="/static/js/ckeditor/ckeditor.js"></script>
        <script src="/static/js/jQuery.base64.js"></script>
        <script src="/static/js/ace/ace.js"></script>
        <script type="javascript">
        </script>
    {% endif %}
{% endblock %}