{% extends 'stphilips/base.html' %}
{% load extras %}


{% block headmeta %}
    <meta property="og:url"           content="{{ full_url }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ post.title }}" />
    <meta property="og:description"   content="A blog post at missiology.com" />
    {% if post.featured_image %}
        <meta property="og:image"     content="http://stphilips.halcyonflies.com/media/{{ post.featured_image }}" />
    {% endif %}
{% endblock %}


{% block main %}
    <main id="main-content" class="container-fluid">
        <div class="row no-gutters stpec-header-light-blue section-header">
            <div class="col-sm-12">
                {{ post.title }}
                {% if is_admin or can_blog %}
                    &nbsp;<a href="/blog/create?post-id={{ post.id }}"><span class="oi oi-pencil"></span></a>
                {% endif %}
            </div>
        </div>

        <div class="container section-content">
            <!-- BYLINE -->
            <div class="row no-gutters">
                <div class="col-sm-12 post-byline">
                    Posted by <a href="#">{{ post.user.get_full_name }}</a> at <a href="#">{{ post.pub_date|datetimeparse }}</a>
                    &nbsp;Tags:
                    {% for tag in post.tags.all %}
                        <a href="/blog?tag-id={{ tag.id }}">{{ tag.text }}</a>
                    {% endfor %}
                </div>
            </div>

            <!-- CONTENT -->
            <div class="row no-gutters">
                <div class="col-sm-12 post-content">
                    {{ post.content|safe}}
                </div>
            </div>

            <!-- SHARE BUTTONS -->
            <div class="row no-gutters">
                <div class="d-flex align-items-center col-sm-12 p-2">
                    <div class="fb-share-button"
                        data-href="{{ full_url }}"
                        data-layout="button"
                        data-size="large">
                    </div>
                    &nbsp;
                    <a class="twitter-share-button"
                        href="https://twitter.com/intent/tweet"
                        rel="{{ full_url }}"
                        data-size="large">
                        Tweet
                    </a>
                </div>
            </div>

            <!-- COMMENTS -->
            <div class="row no-gutters">
                <h2>Comments</h2>
            </div>

            {% for comment in post.comments.all %}
                <div class="row no-gutters whitesmoke comment">
                    <div class="col-sm-12">
                        <div class="text-byline light-gray-fore">
                            {% if comment.user.profile.website %}
                                <a href="{{ comment.user.profile.website }}" target="_blank">{{ comment.user.get_full_name }}</a>
                            {% else %}
                                {{ comment.user.get_full_name }}
                            {% endif %}
                            wrote on {{ comment.pub_date|datetimeparse }}:
                        </div>
                        <div>
                            {{ comment.text|safe }}
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="row no-gutters dark-red whitesmoke-fore comment-area">
                <div class="col-sm-12">
                    {% if user %}
                        <a class="btn btn-light" data-toggle="collapse" href="#comment-div" role="button" aria-expanded="false" aria-controls="comment-div">Post a Comment</a><br>
                        <div class="collapse comment-form" id="comment-div">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <textarea class="form-control" id="comment-box" name="comment-text" placeholder="Add a comment..." style="height: 200px;"></textarea>
                                </div>
                                <input type="submit" class="btn btn-light" value="Post">
                            </form>
                        </div>
                    {% else %}
                        <a class="btn btn-light btn-sm" href="/accounts/login?next=/blog/{{ resource.nice_url }}" role="button">Log In to Post a Comment</a><br>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block js %}
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script>
        window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
            t._e = [];
            t.ready = function(f) {
                t._e.push(f);
            };
          return t;
        }(document, "script", "twitter-wjs"));
    </script>
{% endblock %}